<div>
    <h4>Add Observation</h4>

    <!-- Mostrar el nombre del paciente seleccionado -->
    <div *ngIf="selectedPatient">
        <h5>Patient: {{ selectedPatient.name }} {{ selectedPatient.lastName }}</h5>
    </div>

    <textarea [(ngModel)]="newObservation.notes" placeholder="Enter notes" class="form-control"></textarea>
    <button class="btn btn-primary mt-2" (click)="addObservation()">Add Observation</button>

    <div *ngIf="observations.length > 0" class="mt-4">
        <h5>Existing Observations</h5>
        <ul class="list-group">
            <li *ngFor="let observation of observations" class="list-group-item">
                {{ observation.notes }} - {{ observation.date | date:'short' }}
            </li>
        </ul>
    </div>
</div>
